table, th,td {
      border: 1px solid black;
      width: 20rem;
    }

table{
    width: 100%;
}
img{
    height: 180px; width: 100%
}
th{
    color: rgb(255, 94, 0);
    font-size: 30px;
}
h1{
    margin-left: 45%; color: green
}

.location{
  text-align: center;
  
}

